
.icon {
    height: 20px;
    width: 20px;
  }

 

.title {
    padding-left: 10px;
    margin: 0;
    font-family: 'Source Sans Pro';
    font-size: 1.375rem;
}

.desc {
  color: var(--card-content-color);
  font-size: .875rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
 
  
} 

.body {
margin-bottom: 20px;;
}

.footer {
  
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.link {
 display: inline-block;
 margin-right:20px;
 font-weight: 600;
}
.link:hover {
  text-decoration: none;
}

.card__footer{
  color:red

}