.container{
    display: flex;
    align-items: baseline;
}
.heading {
 margin-right: 10px;
 scroll-margin-top: calc(var(--ifm-navbar-height) + 0.5rem);

}
.link{
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Source Code Pro';
    background-color: #002753;
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
}
.link:hover {
    text-decoration: none;
   
}
.separator {
    font-size: 40px;
    margin:0 8px; 
    position: relative;
    bottom: -5px;   
    line-height: 25px;
}