.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.heading {
 margin-right: 10px;
 margin-bottom: 0;
 scroll-margin-top: calc(var(--ifm-navbar-height) );

}
.link{
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Source Code Pro';
    background-color: #002753;
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
    margin:0 5px;
}
.linkText{
  color:var(--ifm-heading-color);
  cursor: default;
  font-size:20px;
}
.link:hover {
    text-decoration: none;
   
}
.separator {
    font-size: 40px;
    margin:0 8px; 
    position: relative;
    line-height: 25px;
}