/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
 @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

/* You can override the default Infima variables here. */

html {
  scroll-behavior: smooth;
}

 h2 {
  font-size: 1.25rem;
  font-family: 'Source Code Pro';
}

h3 {
  font-size: 1.125rem;
  font-family: 'Source Code Pro';
  font-weight: 400;
}

.markdown h1:first-child  {
  font-family: 'Source Sans Pro';
  color: var(--page-title-color);
  margin-bottom: 16px;
}

.landingPage {
  max-width: 1000px;

}
.docs-doc-id-docs .pagination-nav {
  max-width: calc(1000px - 16px);
}
.landingPage .container {
  padding-left: 0;
  padding-right: 0;
}
.theme-doc-footer-edit-meta-row {
  margin-bottom: 32px;
}
.theme-doc-footer-edit-meta-row  a {
  font-weight: 600;
}
.pagination-nav__link--prev .pagination-nav__label::before {
  content: none;
}
.pagination-nav__link--next .pagination-nav__label::after {
  content: none;
}
.pagination-nav__label {
  font-size: 18px;
}

.mdImage {
  border-radius: var(--ifm-code-border-radius);
  margin-bottom: var(--ifm-leading) !important;
 
}

a:hover {
  text-decoration: none;
}
table {
  display: table;
  width: 100%;
  text-align: left;
  border-radius: 12px;
}

thead th:first-child{border-top-left-radius: 12px;}
thead th:last-child{border-top-right-radius: 12px;}
tbody tr:last-child>td:first-child{border-bottom-left-radius: 12px;}
tbody tr:last-child>td:last-child{border-bottom-right-radius: 12px;}

table td, table  th, table thead tr{
border: none;
}
tbody tr, table thead tr {
  border-right:1px solid var(--ifm-table-border-color);
  border-left:1px solid var(--ifm-table-border-color);
}
table thead tr {
  border-top:1px solid var(--ifm-table-border-color);
}
table tbody {
  border-bottom:1px solid var(--ifm-table-border-color);
  border-radius: 60px;
}
table tr:nth-child(2n) {
  background-color: var(--ifm-table-background)
}

.card {
  height: 100%;
}

.theme-code-block pre  {
  border: 1px solid #323232;
  margin:20px 0;
  border-radius: 12px;
}

.pagination-nav__link {
  border: none;
}

.table-of-contents__link--active {
  background-color: #1e2a41;
  color : var(--ifm-color-primary) !important
}
.table-of-contents__link {
  color: var(--docsearch-muted-color);
  font-family: 'Source Code Pro';
  font-weight: 500;
  padding-left:10px;
}

.collapsible-title .anchor {
  /* overflow: hidden; */
  word-break: break-all;
}

.footer {
  border:1px solid #181818;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: .875rem;
}
.pagination-nav__link {
  padding-left:0;
  padding-right: 0;
}
.footer__bottom {
  background-color: var(--copyright-background-color);
  font-size: .875rem;
}
.footer__copyright{
  color: var(--ifm-footer-color)
}

.footer__bottom-content{
  display: flex;
  justify-content: space-between;
  padding: 27px 16px;
  max-width: var(--ifm-container-width-xl);
  margin:0 auto;
  width:100%;
 
}
.footer__social-icons {
  margin-left:10px;
}
.footer__logo {
  margin-top: 0;
}

.prism-code code {
  max-height: 300px;
  overflow-y: auto;
}
.fullscreen .prism-code code {
  max-height: 95vh;
 
}

/* Device related  */
@media (max-width: 480px) {
  .footer__contact , .footer__col {
    flex-basis: 99%!important;
    max-width: 99%!important;
    margin-bottom: 14px;
    text-align: center;
   
}

}

@media (min-width: 481px) and (max-width: 996px) {
  .footer__col {
     flex-basis: 33%!important;
     max-width: 33%!important;
    
 }
 .footer__contact {
   flex-basis: 35%!important;  
   max-width: 35%!important;
  
 }
 .footer__link {
   flex-basis: 65%!important;
   max-width: 65%!important;
  
 } 
 .col--3 {
  --ifm-col-width: calc(3 / 12 * 100%) 
 }
 .col--4 {
  --ifm-col-width: calc(4 / 12 * 100%) 
 }
 .col--6 {
  --ifm-col-width: calc(6 / 12 * 100%) 
 }

 
 }
 @media (max-width: 996px)  {
  .col--4 {
    --ifm-col-width: calc(4 / 12 * 100%) 
   }
   
 }

 @media (min-width: 481px) {
   .footer {
     padding-top: 100px;
   }
 }
 /* @media (min-width: 1440px) {
.footer__bottom-content {
    max-width: var(--ifm-container-width-xl);
    margin:0 auto;
    width:100%;
    
}
} */
.theme-doc-footer-edit-meta-row {
  align-items: center;
}


:root {
  --ifm-color-primary: #0079f4;
  --ifm-font-family-base: 'Source Sans Pro';
  --ifm-color-primary-dark: #006ddc;
  --ifm-color-primary-darker: #0067cf;
  --ifm-color-primary-darkest: #0055ab;
  --ifm-color-primary-light: #0d85ff;
  --ifm-color-primary-lighter: #1a8bff;
  --ifm-color-primary-lightest: #3e9eff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --page-title-color: #000;
  --ifm-menu-color: #808080;
  --ifm-menu-color-active: #000;
  --ifm-heading-color: #000;
  --ifm-font-color-base: #999999;
  --ifm-hr-background-color: #575757;
  --ifm-card-vertical-spacing: 20px;
  --ifm-table-head-font-weight: 400;
  --ifm-toc-border-color: #555555;
  --prism-background-color: #f6f8fa;
  --prism-color: #393a34;
  --ifm-pre-padding: 32px;
  --ifm-leading:24px;
  
 

 

  /* --ifm-menu-link-sublist-icon : url('data:image/svg+xml;utf-8,<svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg" <path d="M0.19499 6.30833L2.78166 3.72167L0.19499 1.135C0.13318 1.07333 0.0841414 1.00007 0.0506821 0.919421C0.0172228 0.838772 0 0.752315 0 0.665C0 0.577685 0.0172228 0.491228 0.0506821 0.410578C0.0841414 0.329929 0.13318 0.256671 0.19499 0.195C0.45499 -0.065 0.87499 -0.065 1.13499 0.195L4.19499 3.255C4.45499 3.515 4.45499 3.935 4.19499 4.195L1.13499 7.255C0.87499 7.515 0.45499 7.515 0.19499 7.255C-0.0583432 6.995 -0.0650098 6.56833 0.19499 6.30833Z" fill="#808080"/> </svg>'); */

  }

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-link-color: #099DFD;
  --ifm-color-primary: #099DFD;
  --ifm-color-primary-dark: #006ddc;
  --ifm-color-primary-darker: #0067cf;
  --ifm-color-primary-darkest: #0055ab;
  --ifm-color-primary-light: #0d85ff;
  --ifm-color-primary-lighter: #1a8bff;
  --ifm-color-primary-lightest: #3e9eff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --card-content-color: #AFAFAF; 
  --sidebar-background-color:#181818;

  --ifm-heading-color: #FFFFFF;
  --page-title-color: #F2EFED;
  --ifm-menu-color-active: #fff;

  --ifm-table-head-background: #313131;
  --ifm-table-background: #1f1f1f;
  --ifm-table-stripe-background: #1f1f1f;
  --ifm-table-border-color: #090909; 
  --ifm-table-head-color: #ffffff; 
  --ifm-table-cell-color: #ffffff; 

  --ifm-navbar-background-color: #000814;
  --ifm-background-color: #0a0a0a;
  --ifm-toc-border-color: #555555;
  --prism-background-color: #051021;
  --prism-color: #f8f8f2;

  --ifm-footer-background-color: #0a0a0a;
  --ifm-footer-color: #ffffff;
  --ifm-footer-link-color: #ffffff;

  --copyright-background-color:#000;
 
}

[data-theme='dark'] .DocSearch {

  --docsearch-footer-background: #252525;
  --docsearch-hit-active-color: #ffffff;
  --docsearch-hit-background: #181818;
  --docsearch-modal-background: #0a0a0a;
  --docsearch-highlight-color: #089cfd;
  --docsearch-hit-color: #ffffff;
  --docsearch-muted-color:#808080;
}
[data-theme='dark'] .DocSearch-Hit[aria-selected=true] a {
  background: #0C1D2F ;
}
.DocSearch .DocSearch-Hit-title {
font-size: 1em;
font-weight: 400;
}
.DocSearch .DocSearch-Hit-path {
  font-size: .875em;
  font-weight: 400;
}


[data-theme='dark'] .theme-doc-sidebar-container {
  background-color: var(--sidebar-background-color);
}

.menu__caret:before  {
  background: var(--ifm-menu-link-sublist-icon) ;
}