:global(.theme-code-block:hover) .copyButtonCopied {
  opacity: 1 !important;
}

.codeButtonIcons {
  position: relative;
  width: 16px;
  height:16px;
}

.codeButtonIcon
 {
  position: absolute;
  top: 0;
  left: 0;
  fill: currentColor;
  opacity: inherit;
  width: inherit;
  height: inherit;
  transition: all 0.15s ease;
}


.fullScreen .codeButtonIcon {
  transform: scale(0.33);
  opacity: 0;
}

.copyButtonCopied .copyButtonSuccessIcon {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition-delay: 0.075s;
}
